<div class="nav">
    <div class="ui grid">
        <div class="four wide column"></div>

        <div class="eight wide column">
            <a href="/posts"><h1><%= my_blog.title %></h1></a>
            <p><%= my_blog.description %></p>
        </div>
    </div>
</div>
