* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    color: white;
    font-size: 18px;
    background: linear-gradient(-40deg, #243F62, #05B0C3);
    padding-bottom: 15px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.mar-rig-10 {
    margin-right: 10px;
}

.font-30 {
    font-size: 30px;
}

.font-48 {
    font-size: 48px;
}

.data-sty {
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.inline-block {
    display: inline-block;
}

header {
    padding-top: 15px;
    height: 60px;
    font-size: 20px;
}

body .tab1 {
    width: 40%;
    text-align: center;
    padding-bottom: 0;
    height: 60px;
    line-height: 60px;
}

body .tab1 ul li {
    display: inline-block;
    width: 20%;
    position: relative;
}

.num {
    width: 90%;
    margin: 0 auto;
    clear: both;
    margin-bottom: 60px;
}

/*覆盖daterangepicker的样式*/
.daterangepicker {
    color: black;
}

/*覆盖bootstrap的样式*/
.nav-link {
    color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: transparent;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
}

header .ico {
    float: left;
    width: 50px;
    height: 30px;
}

header .user {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    float: right;
    border-radius: 50%;
}

/*-----------------------------------body*/
.icon-up, .icon-down {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: yellow;
}

.box {
    /*border: 1px solid red;*/
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/*  图表*/
.tab {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

.tab ul li {
    display: inline-block;
    width: 30%;
    position: relative;
    cursor: pointer;
}

.blue-line {
    width: 36px;
    height: 4px;
    margin-top: 10px;
    background-color: #80E1FA;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    margin-left: -18px;
}

/*表格*/
.table-bg tr:nth-child(odd) {
    background-color: rgba(30, 34, 45, 0.2);
}

.tab2 {

}

.tab2 ul li {
    width: 23%;
    font-size: 20px;
}

.active1 {
    text-shadow: 0 0 20px #fff;
}

.active2 {
    color: #80E1FA;
}