<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>仿豆瓣电影</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/info.css">
</head>
<body>
<div id="top">
    <div class="logo"><h1>豆瓣</h1></div>
    <ul>
        <li><a href="index.html">电影</a></li>
        <li>图书</li>
        <li>广播</li>
        <li>小组</li>
        <li><a href="search.html"><img src="../img.png" alt=""></a></li>
    </ul>
</div>
<div id="center">

</div>
<script id="infoTpl" type="text/html">
    <div class="top">
        <h2>{{$data.title}}</h2>
        <div>
            <div class="toright">
                <a class="info" href="$data.mobile_url"><img src="{{$data.images.small}}" alt=""></a>
            </div>
            <div class="toleft">
                <p class="fz15">
                    {{if $data.rating.average == 0}}
                    <span>暂无评分</span>
                    {{else}}
                    <span>豆瓣评分:{{$data.rating.average}}&nbsp;</span>
                    {{/if}}
                    <span class="aaa">{{$data.ratings_count}}人评价</span>
                </p>
                <p class="fz15">
                    <span>{{$data.collect_count}}人看过&nbsp;</span>
                    <span>{{$data.wish_count}}人想看</span>
                </p>
                <p class="meta">
                    {{each $data.genres}}
                    {{ $value+'/' }}
                    {{/each}}
                    {{each $data.directors}}
                    {{ $value.name+'(导演)/' }}
                    {{/each}}
                    {{each $data.casts}}
                    {{ $value.name+'/' }}
                    {{/each}}
                    {{$data.year+'上映'}}
                </p>
            </div>
        </div>
    </div>

    <div class="listbox">
        <div class="list">想看</div>
        <div class="list">看过</div>
    </div>
    <a href="" class="inApp">在 App 上保存你的观影足迹</a>
    <h2 class="aaa fz15 h2">复仇者联盟3：无限战争的剧情简介</h2>
    <p class="summary">&nbsp;&nbsp;{{$data.summary}}</p>
    <!--<h2 class="aaa fz15 h2">影人</h2>-->
    <!--{{each $data.directors}}-->
    <!--<div class="box">-->
    <!--<a href="./info.html?id={{$value.id}}"><img src="{{$value.avatars.small}}" alt=""></a>-->
    <!--<p class="name fz15">{{$value.name}}</p>-->
    <!--<p class="aaa">导演</p>-->
    <!--<a href="{{$value.alt}}">去豆瓣电影查看详情</a>-->
    <!--</div>-->
    <!--{{/each}}-->
    <!--{{each $data.casts}}-->
    <!--<div class="box">-->
    <!--<a href="./info.html?id={{$value.id}}"><img src="{{$value.avatars.large}}" alt=""></a>-->
    <!--<p class="name">{{$value.name}}</p>-->
    <!--<p class="aaa">演员</p>-->
    <!--</div>-->
    <!--{{/each}}-->
    <a href="{{$data.alt}}" class="inApp">去豆瓣电影查看详情</a>
</script>
<script src="../jquery-1.7.2.min.js"></script>
<script src="../template-web.js"></script>
<script>
    $(function () {
        var num = location.href.indexOf('?');
        var url = location.href.slice(num + 4);
        $.ajax({
            url: 'https://api.douban.com/v2/movie/subject/' + url,
            type: 'jsonp',
            dataType: 'jsonp',
            success: function (data) {
                console.log(data);
                var html = template('infoTpl', data);
                $('#center').html(html)
            }
        })
    })
</script>
</body>
</html>