<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>仿豆瓣电影</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/loadmore.css">
</head>
<body>
<div id="top">
    <div class="logo"><h1>豆瓣</h1></div>
    <ul>
        <li><a href="./index.html">电影</a></li>
        <li>图书</li>
        <li>广播</li>
        <li>小组</li>
        <li><a href="search.html"><img src="../img.png" alt=""></a></li>
    </ul>
</div>
<section id="loadmoreHtml">

</section>
<div id="btn">加载更多</div>
<script id="loadmoreTpl" type="text/html">
    <h1 class="h1">{{$data.title}}</h1>
    <ul id="listbox">
        {{include 'nextTpl'}}
    </ul>
</script>
<script id="nextTpl" type="text/html">
    {{each $data.subjects}}
    <li>
        <div class="infoBox">
            <a href="info.html?id={{$value.id}}"><img src="{{$value.images.small}}" alt="加载错误"></a>
            <div>
                <h3 class="h3">{{$value.title}}</h3>
                <span class="aaa">
                     {{if $value.rating.average == 0}}
                    暂无评分
                    {{else}}
                    豆瓣评分:{{$value.rating.average}}
                    {{/if}}
                </span>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script src="../jquery-1.7.2.min.js"></script>
<script src="../template-web.js"></script>
<script>
    $(function () {
        var startNum, countNum;
        var num = location.href.indexOf('?');
        var url = location.href.slice(num + 6);
        switch (url) {
            case '1':
                url = 'in_theaters';
                break;
            case '2':
                url = 'coming_soon';
                break;
            case '3':
                url = 'top250';
                break;
            default:
                url = 'in_theaters';
        }
        $.ajax({
            url: 'https://api.douban.com/v2/movie/' + url,
            type: 'get',
            data: {
                count: 15
            },
            dataType: 'jsonp',
            success: function (data) {
                console.log(data);
                var html = template('loadmoreTpl', data);
                $('#loadmoreHtml').html(html);
                startNum = data.start;
                countNum = data.count;
            }
        });
        $("#btn").on('click', function () {
            $.ajax({
                url: 'https://api.douban.com/v2/movie/' + url,
                type: 'get',
                data: {
                    start: startNum + countNum,
                    count: countNum
                },
                dataType: 'jsonp',
                success: function (data) {
                    console.log(data);
                    var html = template('nextTpl', data);
                    $('#listbox').append(html)
                }
            });
        })
    })
</script>
</body>
</html>