* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#top {
    width: 100%;
    position: fixed;
    top: 0;
    height: 47px;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 8px 0 18px;
    line-height: 47px;
    background-color: white;
}

#top .logo, #top ul {
    display: inline-block;
    vertical-align: top;
}

#top .logo {
    float: left;
    color: #00b600;
    font-size: 13px;
}

#top ul {
    float: right;
}

#top li {
    display: inline-block;
    width: 40px;
    text-align: center;
}

#top li:first-child {
    color: #2384E8;
}

#top ul li:last-child img {
    width: 24px;
    height: 18px;
    position: relative;
    top: 5px;
}

.box {
    width: 100px;
    text-align: center;
    display: inline-block;
}

.hot_body_box {
    width: 100%;
    overflow: scroll;
}

#hot_body, #coming_soon_body, #top250_body {
    width: 1009px;
}

.box + .box {
    margin-left: 6px;
}

.box img {
    width: 100px;
    height: 142px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.aaa {
    color: #aaa;
}

.fz15 {
    font-size: 15px;
}

.op {
    opacity: 0.5;
}