a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#top {
    width: 100%;
    position: fixed;
    top: 0;
    height: 47px;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 8px 0 18px;
    line-height: 47px;
    background-color: white;
}

#top .logo, #top ul {
    display: inline-block;
    vertical-align: top;
}

#top .logo {
    float: left;
    color: #00b600;
    font-size: 13px;
}

#top ul {
    float: right;
}

#top li {
    display: inline-block;
    width: 40px;
    text-align: center;
}

#top li:first-child {
    color: #2384E8;
}

#top ul li:last-child img {
    width: 24px;
    height: 18px;
    position: relative;
    top: 5px;
}

/*------------------------------------------center*/
#center {
    padding-top: 47px;
}

.more a {
    color: #42bd56;
}

.hot {
    padding: 10px 0 20px 18px;
}

.hot_top {
    height: 30px;
    padding-right: 18px;
}

.hot_top span.one {
    float: left;
    font-weight: bold;
}

.hot_top span.two {
    float: right;
}

.listbox {
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
}

.list {
    color: #42BD56;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #42BD56;
}

.list:nth-child(2) {
    border: 1px solid #FFC46C;
}

.list:nth-child(2) a {
    color: #FFC46C;
}

.list:nth-child(3) {
    color: #4F9DED;
    border: 1px solid #4F9DED;
}
