#center {
    margin-top: 47px;
    padding: 20px 18px;
}

.top h2 {
    font-weight: 420;
}

.top .toright {
    float: right;
}

.top .info {
    width: 100px;
    height: 140px;
    display: inline-block;
}

.top .info img {
    width: 100%;
}

.top .toleft {
    overflow: hidden;
}

.toleft .meta {
    margin-top: 20px;
    color: #494949;
    font-size: 14px;
    padding-right: 24px;
}

.listbox {
    clear: both;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}

.listbox .list {
    width: 48%;
    color: #FFC46C;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #FFC46C;
}

.inApp {
    text-align: center;
    display: block;
    color: #42BD56;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid #42BD56;
    margin: 10px 0 30px;
}

.h2 {
    margin: 30px 0 15px;
    font-weight: 400;
}

.summary {
    text-indent: 2em;
    color: #494949;
}