<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>试试试试试试</title>
</head>
<body>
asdf页面
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<script>
    $(function () {
        console.log('123')
        $.ajax({
            url: 'http://localhost:3000/asdf',
            type: 'post',
            success: function (r) {
                console.log('success', r)
            }, error: function (r) {
                console.log('error', r)

            }
        })
    })
</script>
</body>
</html>
